*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

#intro{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
z-index:5;
}

#intro.hide{
opacity:0;
visibility:hidden;
transition:1s;
}


#bg-video{
object-fit: cover;
position:fixed;
right:0;
left:0;
top:0;
bottom:0;
width:100%;
height:100%;
min-width:100%;
min-height:100%;
z-index:-2;
}

.content{
position:relative;
width:100%;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
background:rgba(0,0,0,0.4);
padding:20px;
}

h1{
font-size:6vw;
margin-bottom:25px;
color: #f200ff;
text-shadow: 0 0 10 black;
}

p{
width:60%;
font-size:4vw;
}

button{
margin-top:30px;
padding:15px 30px;
border:none;
background:pink;
color:rgb(162, 0, 0);
font-size:18px;
border-radius:30px;
cursor:pointer;
}

.NextBtn{
position:relative;
margin-top:20px;
left:auto;
bottom:auto;
}   

button:hover{
background:#ff4da6;
}

button:active{
    transform:scale(0.95);
}

/* Gallery */

.gallery{
padding:80px;
background:white;
text-align:center;
}

.photos{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.photos img{
width:250px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* Hearts animation */

.hearts span{
position:fixed;
color:red;
font-size:20px;
animation:fall 10s linear infinite;
}

/* OVERLAY */
.popup{
display:flex;
position:fixed;
top:0;
bottom:0;
right:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;

opacity:0;
visibility:hidden;
transition:0.4s;
}

.popup.active{
    opacity:1;
    visibility:visible;
}

/* BOX POPUP */
.popup-content{
position:absolute;
background:#f200ff;
padding:40px;
border-radius:15px;
text-align:center;
transform:scale(0.7);
transition:0.4s;
}

.popup-text{
    position:center;
    font-size: 16px;
    font-family:georgia;
    text-justify: fixed;
    background:white;
    padding: 35px;
    border-radius:15px;
    text-align:justify;
    transition:0.4s;
    height: auto;
    width:auto
}

/* animasi saat muncul */

.popup.active .popup-content{
transform:scale(1);
}

/* AUTO SLIDE */
.card{
width:320px;
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.3);
text-align:center;
color:rgb(255, 0, 230);
box-shadow:0 0 20px rgba(0,0,0,0.4);
}

/* AVATAR */

.avatar{
width:100px;
height:100px;
margin:auto;
border-radius:50%;
overflow:hidden;
border:4px solid rgba(255, 0, 225, 0.6);
margin-bottom:20px;
}

.avatar img{
width:100%;
height:100%;
object-fit:cover;
}

/* PROGRESS BAR */

.progress{
width:100%;
height:5px;
background:rgba(0, 0, 0, 0.2);
border-radius:10px;
overflow:hidden;
}

.bar{
width:0%;
height:100%;
background:rgb(255, 0, 0);
transition:width 3s linear;
}

/* CLOSE POPUP BUTTON */
.close{
position:absolute;
right:15px;
top:15px;
left:auto;
background:#ff4d6d;
border-radius:100px;

font-size:25px;
cursor:pointer;
}
 
@keyframes fall{

0%{
transform:translateY(-100px);
opacity:1;
}

100%{
transform:translateY(100vh);
opacity:0;
}
}

@media (max-width:600px){

h1{
font-size:7vw;
}

p{
font-size:4.5vw;
}

.card{
width:90%;
}

.popup-content{
width:90%;
padding:20px;
}

.avatar{
width:80px;
height:80px;
}

button{
width:80%;
font-size:16px;
}

}
